page-login {
    .position{
        top: 30px;
        position: absolute; 
        width: 100%;
        
    }
    .position .inner{
        position: absolute;
        top: 310px;
        width: 90%;
        bottom: 20px;
    }
}
