<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

     <div class="position">
       <br />
       <br />
<img src="assets/imgs/student_icon.png">

  <div class="inner">
      <ion-list>

    <ion-item>
      <ion-label stacked>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  
  </ion-list>
  
  <button ion-button full round (click)="login()">LogIn</button>
</div>
</div> 
</ion-content>
