<!--
  Generated template for the Form1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Form 1 Student</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <button ion-item *ngFor="let class of classes" (click)="classSelected(item)">
    {{ class }}
  </button>
</ion-list>
</ion-content>
