<ion-header>
    <ion-navbar>
      <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
      <ion-title>Form List</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item (click)="form1()">FORM 1</ion-item>
        <ion-item (click)="form2()">FORM 2</ion-item>
        <ion-item (click)="form3()">FORM 3</ion-item>
        <ion-item (click)="form4()">FORM 4</ion-item>
        <ion-item (click)="form5()">FORM 5</ion-item>
        <ion-item (click)="lower6()">LOWER 6</ion-item>
        <ion-item (click)="upper6()">UPPER 6</ion-item>
    </ion-list>
 
  </ion-content>