<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons right>
        <button ion-button (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>STUDENT REGISTRATION</h2>
 <marquee direction="right"><img src="assets/imgs/newStudents_icon.png"></marquee> 
  <P style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 13px;">Click the button below to register</P>
  <button ion-button full color="secondary" (click)="regForm()">REGISTERATION HERE</button>

</ion-content>
