<!--
  Generated template for the FormsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{form.form}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <button ion-item *ngFor="let class of class" (click)="itemSelected(form)">
        {{class}}
      </button>
</ion-list>
</ion-content>
