<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <img [src]="base64Image" style="text-align: center">    
          <img [src]="base64Image" alt="">  *ngIf="base64Image" />
          <button ion-button (click)="takePicture()" clear>Take a Picture</button> -->-->

          <button
          ion-button
          block
          color="primary"
          (click)="selectImage()">Select an Image</button>


  <!-- Declare image cropper with following aspects:

        1. Template reference variable to allow component
           class to 'hook' into the cropper tool in DOM
        2. Set image from the component class's data object
        3. Apply settings from the component class's
           cropperSettings object
        4. Call the handleCropping method in the image
           cropper's onCrop event
    -->
    <img-cropper
    #cropper
    [image]="data"
    [settings]="cropperSettings"
    (onCrop)="handleCropping($event)"></img-cropper>

<!-- Display the cropped image -->
<div
*ngIf="data.image">

 <img
    [src]="data.image"
    [width]="croppedWidth"
    [height]="croppedHeight">
</div>

  <!-- Display the save image button IF canSave
        property value is true
   -->
   <button
   *ngIf="canSave"
   ion-button
   block
   color="secondary"
   (click)="saveImage()">Save Image</button>
  <!-- <button ion-button (click)="cropPic()" color="secondary">Crop</button> -->
</ion-content>
