<!--
  Generated template for the Form3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>form3</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let class of classes" (click)="classSelected(item)">
          {{ class }}
        </button>
      </ion-list>
</ion-content>
