<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>form</ion-title>
    <ion-buttons right>
        <button ion-button (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-list>

        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>NRIC</ion-label>
          <ion-input type="text" [(ngModel)]="nric"></ion-input>
        </ion-item>
    <div class="inline">
        <ion-item  item-left >
            <ion-label floating>Form</ion-label>
            <ion-select [(ngModel)]="form" >
            <ion-option value="Form 1">Form 1</ion-option>
            <ion-option value="Form  2">Form  2</ion-option>
            <ion-option value="Form  3">Form  3</ion-option>
            <ion-option value="Form  4">Form  4</ion-option>
            <ion-option value="Form  5">Form  5</ion-option>
            <ion-option value="Lower 6">Lower 6</ion-option>
            <ion-option value="Upper 6">Upper 6</ion-option>
            </ion-select>
          </ion-item>

          <ion-item  item-left>
              <ion-label floating >Class</ion-label>
              <ion-select [(ngModel)]="clas">
                <ion-option value="Class A">Class A</ion-option>
                <ion-option value="Class B">Class B</ion-option>
                <ion-option value="Class C">Class C</ion-option>
                <ion-option value="Class D">Class D</ion-option>
                <ion-option value="Class F"> Class F</ion-option>
                
              </ion-select>
            </ion-item>
          </div>
          <div>
              <ion-label>PHOTO</ion-label>
          
             <!-- <img src="{{imageUrl}}" style="text-align: center" width="150px"  height="150px" > -->
             <img src="{{urlImg}}" width="150px"  height="150px" >
        <!-- <p>{{imageUrl}}</p> -->
         <p>{{urlImg}}</p>

         
          <button ion-button (click)="takePicture()" clear>Take a Picture</button>
   <!-- <button ion-button (click)="cropPic()">Crop</button> -->
 <!-- <ion-input [(ngModel)]="image" value="{{imageUrl}}"></ion-input>  -->
       
   <ion-input [(ngModel)]="cropImg" value="{{urlImg}}"></ion-input>
         
        </div>
            
      </ion-list>
   <!-- <button ion-button (click)="cameraTake()">Take Photo</button> -->
      <button ion-button round full (click)="Save(name, nric, form, clas, image, cropImg)"> SUBMIT </button>
      <!-- <ion-list> 
        <ion-item>
          <ion-input type="text" [(ngModel)]="test"></ion-input>
        </ion-item>-->
      <!-- </ion-list>  -->

      <!-- <button ion-button full round (click)="testing(name, nric, form, clas)">tekan utk test</button> -->
</ion-content>
